body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body{
width:100%;
overflow-x:hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Maax";
  src: local("Maax"), url(./Fonts/Maax/Maax.ttf) format("truetype");
}
@font-face {
  font-family: "Maax-Medium";
  src: local("Maax-Medium"),
    url(./Fonts/Maax/Maax-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Maax-Bold";
  src: local("Maax-Bold"), url(./Fonts/Maax/Maax-Bold.ttf) format("truetype");
}
